
$primary-color: #089da1;
$secondary-color: #c0c0c0;
  
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0rem 0rem 1rem $primary-color;
    padding: 1%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
  
    .logo {
      height: 2rem;
      width: auto;
      user-select: none;
    }
  
    .navigation {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      a {
        color: black;
        text-decoration: none;
        font-size: 1rem;
      }
    }
    .searchFavIcon {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      .fa-magnifying-glass:hover{
        cursor: pointer;
      }
      .fa-heart{
        cursor: pointer;
      }
    }
}
  
#welcome {
    width: auto;
    height: 100vh;
    background-image: url(assets/bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    #welcomeSection1 {
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      gap: 4.2rem;
      #welcomeTitle {
        font-size: 3.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      #welcomeTitleColored {
        color: $primary-color;
      }
  
      #welcomeText {
        font-size: 1.4rem;
      }
  
      
    }
}

button {
    color: white;
    background-color: $primary-color;
    padding: 0.5rem;
    border: none;
    height: 2.5rem;
    width: 8rem;
    font-size: 1.1rem;
  }
  button:hover {
    cursor: pointer;
  }

#services{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .service{
        padding: 1rem;
        width: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        border: none;
        box-shadow: 0rem 0rem 1rem $primary-color;
        text-align: center;

        .fa-solid{
            color: $primary-color;
            font-size: 3.5rem;
        }
    }
}

#featuredBooks{

    h1{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 3rem;
        font-size: 3.8rem;

    }

    

    #scrollableContainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.7rem;
        overflow-x: scroll;
        padding-left: 2rem;
        padding-right: 2rem;
        scroll-behavior: smooth;
        margin-left: 3rem;
        margin-right: 3rem;

        .bookContainer{
            border: solid 0.1rem gray;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.4rem;
            flex-shrink: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .bookCover{
                width: 7.5em;     
                height: 11.4em;  
                
            }

            h2{
                font-size: 1.4rem;
            }
            .authorName{
                color: $secondary-color;
            }
            .bookType{
                color: $primary-color;
            }
            .discount{
                font-weight: bold;
                sub{
                    font-weight: normal;
                }
            }
            button{
                color: black;
                background-color: white;
                border: solid 0.16rem $primary-color;
                padding: 0.5rem;
                height: 2.5rem;
                width: 8rem;
                font-size: 1.1rem;
            }
            button:hover{
                cursor: pointer;
            }

        }
        .bookContainer:hover{
            box-shadow: 0 0 0.3rem $primary-color;
        }
    }   

    

}

::-webkit-scrollbar{
    width: 0.8rem;
    height: 0.5rem;
    background-color: rgb(234, 234, 234);
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-thumb{
    background-color: $primary-color;
    border-radius: 1rem;
}

#banner{
    margin-top: 2rem;
    background-image: url(assets/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    aspect-ratio: 1920 / 505;
    position: relative;
    
    button{
        position: absolute;
        bottom: 7rem;
        left: 7.5rem;
        
    }
}


.dev-space {
    height: 500px;
    background: rgb(218, 21, 7);
    margin-top: 50px;
  }
  
  