* {
  margin: 0;
  padding: 0;
}

:root{
  --mainColor: #089da1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.5px 0.5px 8px var(--mainColor);
  padding: 1%;

  .logo {
    height: 2rem;
    width: auto;
  }

  nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
    a {
      color: black;
      text-decoration: none;
      font-size: 0.7rem;
    }
  }
  .searchFavIcon {
    width: 4%;
    display: flex;
    justify-content: space-between;
  }
}

.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  #aboutUs{
    display: flex;
    justify-content: space-around;

    .aboutUsImage{
      width: 40%;
    }

    .aboutUsText{
      padding: 3rem;
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      p{
        font-size: small;
      }

      .aboutUsBtn{
        width: 20%;
        padding: 0.3rem;
        background-color: var(--mainColor);
        border: none;
        color: white;
      }
    } /*aboutUsText*/
  } /*aboutUs*/
  #newArrivals{
    h1{
      text-align: center;
      margin: 3%;
    }
    .newArrivalsCardsContainer{
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
      margin-right: 2%;
      margin-left: 2%;
      justify-content: center;

      .newArrivalsCard{
        border: 0.1rem solid #919191;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
        width: 12%;
        padding: 1%;

        .cardImage{
          width: 80%;
          box-shadow: 1px 1px 5px black;
        }

        .cardStars{
          i{
            color: var(--mainColor);
          }
        }

        .newArrivalsBtn{
          background-color: white;
          border: 2px solid var(--mainColor);
          padding: 3%;
        }

      } /*newArrivalsCard*/
    } /*newArrivalsCardsContaner*/
  } /*newArrivals*/

} /*container*/